nextflow.enable.dsl=2

singularity {
    enabled      = true
    envWhitelist = ['SINGULARITY_TMPDIR']
    runOptions   = '--env PATH=$PATH:/opt/programs/java/11.0.22/bin/ --bind /orfeo:/orfeo --bind /opt:/opt'
    cacheDir = "/orfeo/cephfs/scratch/cdslab/shared/containers/singularity/sarek_tumourevo"
}

// Workflow-level settings
workflow {
    cleanup = true
}

profiles {
    epyc {
        process.executor = 'slurm'
        process.queue = 'EPYC'
        process.resourceLimits = [ cpus: 128, memory: 512.GB, time: 100.h ]
    }
    genoa {
        process.executor = 'slurm'
        process.queue = 'GENOA'
        process.resourceLimits = [ cpus: 64, memory: 512.GB, time: 100.h ]
    }
    thin {
        process.executor = 'slurm'
        process.queue = 'THIN'
        process.resourceLimits = [ cpus: 24, memory: 768.GB, time: 100.h ]
    }
}

process {
    // Slurm executor defaults
    // Default resource allocation
    clusterOptions = '--account=cdslab'
    cpus          = 4
    memory        = 10.GB
    time          = 6.h
    // Retry strategy
    errorStrategy = 'retry'
    maxRetries    = 3
    // Prolog/Epilog scripts
    beforeScript  = "source /orfeo/cephfs/fast/cdslab/${USER}/prolog.sh"
    afterScript   = "source /orfeo/cephfs/fast/cdslab/${USER}/epilog.sh"
}

// Executor-level tuning
executor {
    queueSize       = 40
    submitRateLimit = '30/1min' 
    pollInterval    = '10sec'
}

// Plugins
plugins {
    id 'nf-validation'
}