params {
    outdir = 'results'  // default output directory
}

process {
    executor = 'slurm'
    queue = 'GENOA'          // or your SLURM partition name
    cpus = 4
    memory = '8 GB'
    time = '2h'
}

process {
    withName: BCFTOOLS_VIEW {
        cpus = 6
        memory = '12 GB'
        time = '2h'
    }

    withName: PROCESS_PREPROCESS {
        cpus = 6
        memory = '50 GB'
        time = '2h'
    }
}
